{% extends "history/base.html" %}

{% block title %}FFXIV Achievements | Combat{% endblock %}

{% block content %}
<div class="grid_12">
<h3>Combat ({{ count }}/{{ total }})</h3>
</div>
<div class="clear"></div>
{% for zone in events %}
    <div class="grid_12">
    <h4>{{ zone.name }} ({{ zone.achieved }}/{{ zone.count }})</h4>
    </div>
    <div class="clear"></div>
    {% for sub in zone.subs %}
        <div class="grid_3">
        <div class="zone">
        {% if sub.achieved == sub.count %}
            <div id="combat-group-header-{{ sub.id }}" class="combat-group-header combat-group-complete">{{ sub.name }} <img style="float:right; padding-right:10px; margin-top:3px;" src="/static/img/brass_gobcog.png" /></div>
        {% else %}
            <div id="combat-group-header-{{ sub.id }}" class="combat-group-header">{{ sub.name }} <span style="float:right; padding-right:10px;">{{ sub.achieved }}/{{ sub.count }}</span></div>
        {% endif %}
        <div id="combat-group-{{ sub.id }}" class="combat-group-body">
        {% for event in sub.events %}
            <div id="combat-event-{{ event.id }}" class="{{ event.event_class }}">{{ event.label }}</div>
            {% comment %}
            <div style="width:75px;line-height:75px;background-color:#999;border: solid 1px black;float:left">&nbsp;</div>
            {% if forloop.counter|divisibleby:"4" %}<div style="clear:both;"></div>{% endif %}
            {%  endcomment %}
        {% endfor %}
        </div>
        </div>
        </div>
        {% endfor %}
        <div class="clear"></div>
{% endfor %}
{% endblock %}