{% extends "history/base.html" %}

{% block title %}FFXIV Achievements | Guildleve{% endblock %}

{% block content %}
<div class="grid_12">
<h3>Guildleve ({{ count }}/{{ total }})</h3>
</div>
<div class="clear"></div>
{% for zone in events %}
    <div class="grid_12">
    <h4>{{ zone.name }} ({{ zone.achieved }}/{{ zone.count }})</h4>
    </div>
    <div class="clear"></div>
    {% for sub in zone.subs %}
        <div class="grid_3">
        <div class="zone">
        {% if sub.achieved == sub.count %}
            <div id="guildleve-group-header-{{ sub.id }}" class="guildleve-group-header guildleve-group-complete">{{ sub.name }} <img style="float:right; padding-right:10px; margin-top:3px;" src="/static/img/brass_gobcog.png" /></div>
        {% else %}
            <div id="guildleve-group-header-{{ sub.id }}" class="guildleve-group-header">{{ sub.name }} <span style="float:right; padding-right:10px;">{{ sub.achieved }}/{{ sub.count }}</span></div>
        {% endif %}
        <div id="guildleve-group-{{ sub.id }}" class="guildleve-group-body">
        {% for event in sub.events %}
            <div id="guildleve-event-{{ event.id }}" class="{{ event.event_class }}">{{ event.label }}</div>
        {% endfor %}
        </div>
        </div>
        </div>
        {% endfor %}
    <div class="clear"></div>
{% endfor %}
{% endblock %}