{% extends "history/base.html" %}

{% block title %}FFXIV Achievements | Guild {% endblock %}

{% block content %}
<div class="grid_12">
    <h3>Guild ({{ count }}/{{ total }})</h3>
</div>
<div class="clear"></div>
{% for guild in events %}
    <div class="grid_6">
        <div id="guild-{{ guild.id }}" class="guild">
            {% if guild.achieved == guild.count %}
                <div class="guild-header guild-complete">{{ guild.name }} <img style="float:right; padding-right:10px; margin-top:3px;" src="/static/img/brass_gobcog.png" /></div>
            {% else %}
                <div class="guild-header">{{ guild.name }} ({{ guild.achieved }}/{{ guild.count }})</div>
            {% endif %}
            <div class="guild-body">
                <div class="guild-ranks">
                    <ul>
                    {% for rank in guild.ranks %}
                        <li class="{{ rank.event_class }}" title="{{ rank.label }}">&nbsp;</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="guild-quests">
                    {% for quest in guild.quests %}
                        <div class="{{ quest.event_class }}"><div class="icon">&nbsp;</div><span class="label">{{ quest.label }}</span></div>
                    {% endfor %}
                </div>
                <div class="guild-purchases">
                    {% for purchase in guild.purchases %}
                        <div class="{{ purchase.event_class }}"><div class="icon">&nbsp;</div><span class="label">{{ purchase.label }}</span></div>
                    {% endfor %}
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:'2' %}<div class="grid_12"><p>&nbsp;</p></div>{% endif %}
{% endfor %}
{% endblock %}