<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="ltr" lang="en-US">
<head>
    <title>FFXIV Achievements</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/text.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/960.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/history.css" />
</head>
<body>
<div class="container_12">
<div class="grid_12">
    <h1>Rage Quit (Fabul)</h1>
</div>
{% for character in characters %}
    <div class="grid_12">
        <h2><a href="/history/aetheryte/{{ character.id }}">{{ character.name }} ({{ character.world }})</a> [{{ character.count }}/{{ total }}]</h2>
    </div>
{% endfor %}
</div>
</body>
</html>