<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="ltr" lang="en-US">
<head>
    <title>FFXIV Achievements</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/text.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/960.css" />
    <style type="text/css">
        p { text-align: center; }
    </style>
</head>
<body>
<div class="container_12">
    <div class="grid_8 prefix_2 suffix_2">
        <p>&nbsp;</p>
        <p>Welcome to ffxivarmoury.org, a website for tracking your achievement progress in FFXIV.</p>
        <p>This site is currently under development with only our LS (Rage Quit of Fabul) available to view.</p>
        <p><a href="history/">Enter</a></p>
    </div>
</div>
</body>
</html>