{% extends "history/base.html" %}

{% block title %}FFXIV Achievements | Special{% endblock %}

{% block content %}

<p style="font-size:small;"><a href="/history/aetheryte/{{ character.id }}">Aetheryte</a> | <a href="/history/guild/{{ character.id }}">Guild</a> | <a href="/history/quest/{{ character.id }}">Quest</a> | <a href="/history/guildleve/{{ character.id }}">Guildleve</a> | <a href="/history/combat/{{ character.id }}">Combat</a> | <a href="/history/special/{{ character.id }}">Special</a></p>
<h1>{{ character.name }}</h1>
<table cellpadding="0" cellspacing="5">
{% for zone in events %}
    <tr><td><h4>{{ zone.name }}</h4></td></tr>
    <tr>
    {% for sub in zone.subs %}
        <td valign="top">
        <div class="zone">
        <div id="special-group-header-{{ sub.id }}" class="special-group-header">{{ sub.name }}</div>
        <div id="special-group-{{ sub.id }}" class="special-group-body">
        {% for event in sub.events %}
            <div id="special-event-{{ event.id }}" class="{{ event.event_class }}">{{ event.label }}</div>
        {% endfor %}
        </div>
        </div>
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
{% endblock %}
