{% extends "history/base.html" %}

{% block title %}FFXIV Achievements | Special{% endblock %}

{% block content %}
<div class="grid_12">
<h3>Special ({{ count }})</h3>
</div>
<div class="clear"></div>
{% for zone in events %}
    <div class="grid_12">
    <h4>{{ zone.name }} ({{ zone.achieved }})</h4>
    </div>
    <div class="clear"></div>

    {% for sub in zone.subs %}
        <div class="grid_3">
        <div class="zone">
        <div id="special-group-header-{{ sub.id }}" class="special-group-header">{{ sub.name }}</div>
        <div id="special-group-{{ sub.id }}" class="special-group-body">
        {% for event in sub.events %}
            <div id="special-event-{{ event.id }}" class="{{ event.event_class }}">{{ event.label }}</div>
        {% endfor %}
        </div>
        </div>
        </div>
    {% endfor %}
    {% if forloop.counter|divisibleby:'4' %}<div class="clear"></div>{% endif %}
{% endfor %}
{% endblock %}
